
.weather-location-container {
    background: #2b2b2b;
}

/* Location */
.weather-location-container .location-container {
    color: #fff;
    text-transform: uppercase;
    font-size: 1em;
}

/* Data container */
.weather-data-container {
    background-color: #ebebeb;
}


